div {
	margin: 0 auto auto;
	text-align: center;
}

.aci, .acm, .afe {
	height: 60px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 50px;
}

.container {
	margin: 0 auto auto;
}

.aci.inColor {
	background-image: url("../images/aci-color.png");
}
.aci {
	background-image: url("../images/aci.png");
}
.acm.inColor {
	background-image: url("../images/acm-color.png");
}
.acm {
	background-image: url("../images/acm.png");
}
.afe.inColor {
	background-image: url("../images/afe-color.png");
}
.afe {
	background-image: url("../images/afe.png");
}


.title {
	margin-top: 50px;
	margin-bottom: 20px;
}

#dropDown {
	padding-top: 80px;
	padding-bottom: 20px;
}

#control {
	height: 230px;
	background-color: #E3E0E1;
}

#searchButton {
	width: 100px;
}

#icons1 {
	margin-top: 40px;
}

#icons2 {
	margin-top: 40px;
}